@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


body, html, main{
/*    height: 100%;*/
    color: rgb(255, 255, 255, 1.0);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

main {
    width: 100%;
}

.body__index {
    height: 100vh;
}

.bg__color {
    background-color: #212529;
}

.flex__logo a {
    max-width: 62px;
    min-width: 45px;
    margin-right: 5%;
    
}

.flex__logo h3{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.bold__h3 {
    font-weight: bold;
    margin-left: 0;
}

.navbar-brand {
    margin-right: 0;
}

.navbar__img img {
    width: 100%;
    height: 100%;
}

.nav-link {
     color: rgb(255, 255, 255);
}

.nav-link:focus {
    color: rgba(251, 194, 79, 1);
} 

.nav-link:hover {
    color: rgba(251, 194, 79, 1);
}

.navbar-toggler-icon {
    color: rgb(0, 0, 0);
}

.hero__image {
 
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/hero_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero__text {
    font-size: 2em;
    animation-name: opacity__efx; 
    animation-duration: 2s;

}

.hero__text p {
    text-align: center;
}

.hero__text button {
    text-align: center;
}

button {
    font-size: 0.5em;
    font-family: 'Ubuntu', sans-serif;
}

#btn__hover:hover {
    background-color: rgba(251, 194, 79, 1);
    color: rgb(60, 62, 61);   
}

#btn__hover {
    color: rgb(255, 255, 255);
}

.btn-primary {

}

h1 {
    text-align: center;
}

/*===============SERVICIOS CSS==============*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(60, 62, 61);
    padding: 3%;
    margin: 3% 0;
    width: 100%;
    background: linear-gradient(216deg, rgba(50,52,51,0.8799894957983193) 0%, rgba(60,62,61,1) 48%);
    animation-name: moving__box; 
    animation-duration: 1.5s;
    
}

.card img {
    object-fit: cover;
}

.text__card h4 {
    padding-top: 1%;
    font-weight: bold;
    font-size: 1.2;
}

.text__card p {
    font-size: 0.8em;
}

/*===============ARTISTAS CSS==============*/

.card__artist--flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.card__artist--header {
    padding: 2%;
    background-color: rgba(251, 194, 79, 1);
    color: rgb(0, 0, 0);
    margin: 2% 0;
}

.card__artist--header h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.card__artist--header p{
font-size: 1em;
margin: 0;
}

.card__artist--flex img {
    width: 100%;
}

.card__artist--style {
    padding: 2%;
    margin: 1.5%;
    border-radius: 5px;
    background-color: rgb(60, 62, 61);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(216deg, rgba(50,52,51,0.8799894957983193) 0%, rgba(60,62,61,1) 48%);
    animation-name: opacity__efx;
    animation-duration: 2s;
}

.card__artist--style article {
    font-size: 0.9em;
}

.card__top {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.card__top a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


/*===============RECURSOS CSS==============*/

.display__recursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
    animation-name: moving__box--b; 
    animation-duration: 1s;
}

.card__recursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.img__recursos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    margin: 1%;
}

.img__recursos img {
    width: 45%;
}

.description__recursos {
    background-color: rgb(60, 62, 61);
    padding: 3%;
    border-radius: 5px;
}

.description__recursos p {
    text-align: center; 
    margin: 0; 
}

.header__recursos {
    background-color: rgba(251, 194, 79, 1);
    width: 100%;
    color: rgb(0, 0, 0);
}

.header__recursos h3 {
    padding: 2%;
    margin: 0;
}


.header__recursos h5 {
    padding: 2%;
}

.header__recursos h3 {
    font-size: 1.3em;
}

.header__recursos h5 {
    font-size: 0.9em;
}

#carouselExampleControls {
    margin: 0 5%;
    padding: 0 3%;
}


/*===============CONTACTO CSS==============*/

main h1 {
    padding: 4%;
}

.flex__preguntas h4 {
    margin: 0;
    padding: 4%;
    background-color: rgba(251, 194, 79, 1);
    width: 100%;
    color: rgb(0, 0, 0);
}

.flex__preguntas h5 {
    padding: 2% 2% 2% 0;
    margin: 0;
    font-size: 1em;
    width: 100%;
} 

.flex__preguntas article {
    padding: 2%;
    margin: 5%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
} 

.flex__preguntas p {
    font-size: 0.8em;
    border-left: solid 3px rgba(251, 194, 79, 1);
    padding: 1% 2%;  

}


.form__style {
    margin: 5%;
    padding: 2%;
}

.form__section h4 {
    background-color: rgba(251, 194, 79, 1);
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 4%;
}

.form__style button {
    margin-top: 2%;
}

.form__style button:hover {
    background-color: rgba(251, 194, 79, 1);
    color: rgb(60, 62, 61);
}

.map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.map iframe {
    margin: 3%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

}

.flex__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 194, 79, 1);
    color: rgb(0, 0, 0);
}

.btn__newsletter {
    padding: 0 4% 1% 4%;
}

.btn-dark {
    margin: 1%;
}

.flex__newsletter input{
    padding: 4%;
    font-size: 1em;
    text-align: center;
}

.flex__newsletter h4 {
    text-align: center;
    margin: 0;
    padding: 2% 0;
}

.flex__newsletter p {
    text-align: center;
    padding: 0 3%;

}

.flex__nowrap article {
    animation-name: opacity__efx; 
    animation-duration: 2s;
}

/*===============FOOTER CSS==============*/
.legal__flex {
    display: flex;
    width: 100%;
    padding: 2%;
    margin: 0;
    justify-content: center;
}

footer ul li a {
    text-decoration: none;
    color: rgba(251, 194, 79, 1);
    font-size: 0.6em;
}

footer ul li {
   list-style: none;
   padding: 0;
   margin: 0 2%;
}

.contact__info--style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__info--style h3 {
    color: rgb(255, 255, 255);
    padding: 2% 0 0 6%;
    font-size: 1.2em;
}

.contact__info--style p{
    color: rgba(251, 194, 79, 1);
    padding: 0;
    margin: 0;
    line-height: 1;
    padding: 1.5%;
    font-size: 0.9em;
}

.socialmedia__link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(251, 194, 79, 1);

}

.socialmedia__link a {
    width: 5%;
    padding: 0.5%;
}

.socialmedia__link img {
    width: 100%;
    color: rgb(255, 255, 255);
}

.contact__info--style h3 {
    margin-top: 2%;
}

/*===============KEYFRAMES CSS==============*/

@keyframes opacity__efx {
    from {opacity: 0;} 
    to {opacity:  1;}   
}

@keyframes moving__box {
    from {transform: translateX(-100%);}
    to {transform: translatex(0);}
}

@keyframes moving__box--b {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}

/*===============BREAKPOINTS CSS==============*/

@media screen and (max-width: 576px) {

.picotres__h3 {
    display: none;
}

.bold__h3 {
    display: none;
}


}

@media screen and (min-width: 576px) {




.contact__info--style h3{
    width: 25%;
    padding-top: 0;
    font-size: 0.9em;

}

.contact__info--style ul {
    margin: 0;
    padding-left: 6%;
    padding-bottom: 2%;
}

.contact__info--style ul li {
    width: 100%;
    padding: 0;
    margin: 0;
}

.contact__info--style ul li p {
    font-size: 0.7em;
}

.legal__flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    margin: 0;
    justify-content: center;
}

.socialmedia__link a {
    width: 4%;
}

footer ul li a {
    font-size: 0.8em;
}

.flex__preguntas h5 {
    font-size: 1.3em;
}

.flex__preguntas p {
    font-size: 1.1em;
}

}

@media screen and (min-width: 991px) {

 .dropdown-toggle::after {
    display: none;
 }

.text__card p {
    font-size: 1.2em;
}

.card__artist--header p {
    font-size: 1.2em;
}

.card__artist--header h3 {
    font-size: 1.5em;
}

.contact__info--style h3{
    font-size: 1.2em;

}

.contact__info--style ul li p {
    font-size: 1em;
}


.card__artist--flex {
    flex-direction: row;
}

.flex__nowrap {
    display: flex;
    flex-wrap: wrap;
}

.flex__nowrap article {
    width: 45%;
    margin: 2%;
    padding: 2%;
}

.flex__preguntas h4 {
    font-size: 1.7em;
    padding: 2.5%;
} 

.form__section h4 {
    font-size: 1.7em;
    padding: 2.5%;
}

.form__section {
    width: 50%;
}

.map {
    width: 50%;
}

.form__section h4 {
    margin-left: 2%;
}

.display__recursos {
    width: 45%;
    margin: 1% 1%;
}


.contact__info--style {
    flex-direction: row;
}

.contact__info--style h3{
    padding: 2%;
    margin: 0;
    width: 25%;
}

.contact__info--style ul {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin: 0;
    width: 75%;
}

.contact__info--style ul li p {
    font-size: 0.9em;
}

}

@media screen and (min-width: 1200px) {

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transform: translateY(-2%);
}

.card {
    flex-direction: row;
     margin: 2%;

}

.card img {
    width: 45%;
    height: auto;
}

.text__card {
    padding-left: 5%;
}

.card__row--reverse {
    flex-direction: row-reverse;
}

.text__card p {
    font-size: 1.4em;
}

.card__row--reverse p {
    padding-left: 0;
    padding-right: 5%;
}

.flex__preguntas p {
    font-size: 1.3em;
}

.flex__preguntas h5 {
    font-size: 1.5em;
}

main h1 {
    padding: 1%;
}

.display__recursos {
    width: 25%;
    margin: 2%;
}

.display__recursos:hover {
    transform: translateY(-2%);
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(251, 194, 79, 1);
}

.card__artist--style:hover {
    transform: translateY(-4%);
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 100%);
}

.contact__info--style {
    display: flex;
    flex-direction: row;
}


.contact__info--style h3 {
   font-size: 1.4em; 
}


.contact__info--style ul li p {
    font-size: 0.9em;
}

.legal__flex {
    padding: 1%;
}

.contact__info--style ul {
    padding: 1.5%;
}

.contact__info--style h3 {
    padding: 1.5%;
}


.socialmedia__link a {
    width: 3%;
}

}






